/* .Game {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
} */
.gameContainer {
  position: relative;
  width: 100vw;
  height: 85vh;
  @include minMq(768px) {
    max-height: 85vh;
  }
  @include minMq(980px) {
    max-height: 80vh;
  }
  flex-direction: row;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  padding: calc(0.5rem + 0.5vw);
  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background: linear-gradient(135deg, #e28f6a, #a94660);
  }
  & .memoryGame {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
    perspective: 2000px;
    background: none;
    @include minMq(768px) {
      margin-top: 0.75rem;
      align-items: center;
    }
  }
}
