.winContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: black;
  width: 100vw;
  height: 100vh;
  animation: 0.5s fadeIn forwards ease-in-out;
  z-index: 0;
  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background: linear-gradient(135deg, $thirdColour, $fourthColour);
    z-index: -1;
  }
  & .winWrapper {
    margin: 0.5rem;
    & .winLose {
      // text-shadow: $shadowMedium;
      text-shadow: $shadowSmall;
      font-size: calc(3rem + 1vw);
      color: $yellowColour !important;
      transform: scale(0.9);
      margin-bottom: 1rem;
      animation: 1s fadeIn ease-in forwards;
    }
    & .winLoseMessage {
      font-size: calc(1rem + 1vw);
      line-height: 1.25;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 2rem;
      color: $lighten75;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    text-shadow: $shadowSmall;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    text-shadow: $shadowMedium;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: $shadowSmall;
  }
}
@keyframes animateOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
