circle {
  transition: stroke-dashoffset 0.15s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.bgCircle {
  background: orange;
  width: 60px;
  height: 60px;
}
.timer.flashRed {
  transform: scale(1);
  animation: 1s flashred ease-in-out infinite;
}
/* for the circle animation  */
.progress-ring__circle {
  stroke-dasharray: 10 20;
}
.progress-ring__circle.flashRed {
  animation: 1s flashred ease-in-out infinite;
}
