/* ============ BUTTONS ============ */

.buttonMain {
  border-radius: none;
  outline: none;
  border: none;
  padding: calc(0.5rem + 0.15vw) calc(0.75rem + 0.15vw);
  letter-spacing: 0.15rem;
  font-size: calc(0.6rem + 0.25vw);
  border-radius: 3px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  /* background: rgba(270, 270, 270, 0.25); */
  border: 1px solid rgba(var(--mainColour), 0.75);
  background: rgba(var(--darken), 0);
  transition: var(--transition);
  color: white;
}

.buttonMain:hover {
  transition: var(--transition);
  background: rgba(0, 0, 0, 0.25);
  background: rgba(var(--mainColour), 1);
  /* color: rgba(var(--mainColour), 1); */
}

.buttonMain:active {
  transition: var(--transition);
  background: rgba(0, 0, 0, 1);
  color: var(--mainColour100);
  /* animation: 0.25s bulge ease-in-out forwards; */
}
@keyframes bulge {
  0% {
    padding: 0.75rem 3rem;
  }
  50% {
    padding: 0.75rem 3.25rem;
  }
  100% {
    padding: 0.75rem 3rem;
  }
}

:root {
  --cardMargins: 0.5vw;
  --transition: 0.25s all ease-in-out;
  /* main color */
  --mainColour: 29, 176, 255;
  --mainColour100: rgba(var(--mainColour), 1);
  --mainColour01: rgba(var(--mainColour), 0.1);
  /* background color */
  --background: 42, 34, 35;
  --background100: rgba(var(--background), 1);
  --lighten: 270, 270, 270;
  --boxShadow: rgba(270, 270, 270, 0.1);
  --lighten100: rgba(var(--lighten), 1);
  --lighten50: rgba(var(--lighten), 0.5);
  --lightText: rgba(152, 152, 152, 0.5);
  --darken: 0, 0, 0;
  --darken05: rgba(var(--darken), 0.25);
  --shadowSmall: hsla(180, 85%, 5%, 1) 1px 1px, hsla(180, 85%, 5%, 0.6) 2px 2px,
    hsla(180, 85%, 5%, 0.6) 3px 3px, hsla(180, 85%, 5%, 0.6) 4px 4px,
    hsla(180, 85%, 5%, 0.6) 5px 5px, hsla(180, 85%, 5%, 0.6) 6px 6px,
    hsla(180, 85%, 5%, 0.6) 7px 7px, hsla(180, 85%, 5%, 0.6) 8px 8px,
    hsla(180, 85%, 5%, 0.6) 9px 9px, hsla(180, 85%, 5%, 0.6) 11px 11px,
    hsla(180, 85%, 5%, 0.6) 12px 12px;
  --shadowMedium: hsla(180, 85%, 5%, 1) 1px 1px, hsla(180, 85%, 5%, 0.6) 2px 2px,
    hsla(180, 85%, 5%, 0.6) 3px 3px, hsla(180, 85%, 5%, 0.6) 4px 4px,
    hsla(180, 85%, 5%, 0.6) 5px 5px, hsla(180, 85%, 5%, 0.6) 6px 6px,
    hsla(180, 85%, 5%, 0.6) 7px 7px, hsla(180, 85%, 5%, 0.6) 8px 8px,
    hsla(180, 85%, 5%, 0.6) 9px 9px, hsla(180, 85%, 5%, 0.6) 11px 11px,
    hsla(180, 85%, 5%, 0.6) 12px 12px, hsla(180, 85%, 5%, 0.6) 13px 13px,
    hsla(180, 85%, 5%, 0.6) 14px 14px, hsla(180, 85%, 5%, 0.6) 15px 15px,
    hsla(180, 85%, 5%, 0.6) 16px 16px, hsla(180, 85%, 5%, 0.6) 17px 17px,
    hsla(180, 85%, 5%, 0.6) 18px 18px, hsla(180, 85%, 5%, 0.6) 19px 19px;
  --shadowBig: hsla(180, 85%, 5%, 1) 1px 1px, hsla(180, 85%, 5%, 0.6) 2px 2px,
    hsla(180, 85%, 5%, 0.6) 3px 3px, hsla(180, 85%, 5%, 0.6) 4px 4px,
    hsla(180, 85%, 5%, 0.6) 5px 5px, hsla(180, 85%, 5%, 0.6) 6px 6px,
    hsla(180, 85%, 5%, 0.6) 7px 7px, hsla(180, 85%, 5%, 0.6) 8px 8px,
    hsla(180, 85%, 5%, 0.6) 9px 9px, hsla(180, 85%, 5%, 0.6) 11px 11px,
    hsla(180, 85%, 5%, 0.6) 12px 12px, hsla(180, 85%, 5%, 0.6) 13px 13px,
    hsla(180, 85%, 5%, 0.6) 14px 14px, hsla(180, 85%, 5%, 0.6) 15px 15px,
    hsla(180, 85%, 5%, 0.6) 16px 16px, hsla(180, 85%, 5%, 0.6) 17px 17px,
    hsla(180, 85%, 5%, 0.6) 18px 18px, hsla(180, 85%, 5%, 0.6) 19px 19px,
    hsla(180, 85%, 5%, 0.6) 20px 20px, hsla(180, 85%, 5%, 0.6) 21px 21px,
    hsla(180, 85%, 5%, 0.6) 22px 22px, hsla(180, 85%, 5%, 0.6) 23px 23px,
    hsla(180, 85%, 5%, 0.6) 24px 24px, hsla(180, 85%, 5%, 0.6) 25px 25px,
    hsla(180, 85%, 5%, 0.6) 26px 26px, hsla(180, 85%, 5%, 0.6) 27px 27px,
    hsla(180, 85%, 5%, 0.6) 28px 28px, hsla(180, 85%, 5%, 0.6) 29px 29px,
    hsla(180, 85%, 5%, 0.6) 30px 30px;

  --margin5: 5rem;
  --margin3: 3rem;
  --margin1: 1rem;
}
.mt5 {
  margin-top: var(--margin5);
}
.mt3 {
  margin-top: var(--margin3);
}
.mt1 {
  margin-top: var(--margin1);
}
.mb5 {
  margin-bottom: var(--margin5);
}
.mb3 {
  margin-bottom: var(--margin3);
}
.mb1 {
  margin-bottom: var(--margin1);
}
.ml5 {
  margin-left: var(--margin5);
}
.ml3 {
  margin-left: var(--margin3);
}
.ml1 {
  margin-left: var(--margin1);
}
.mr5 {
  margin-right: var(--margin5);
}
.mr3 {
  margin-right: var(--margin3);
}
.mr1 {
  margin-right: var(--margin1);
}
.appContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  background: #2d3c37;
  background: rgba(var(--darken), 0.95);
}
