body {
  width: 100%;
}

.gameContainer {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  display: flex;
  /* background: var(--background100);
  background: black; */
  color: black;
  justify-content: flex-start;
  /* border: 4px solid white; */
  align-items: center;
  align-items: flex-start;
  margin-top: 0;
  /* margin: auto; */
  text-align: center;
  /* border: 13px solid green !important; */
}
.memoryGame {
  display: flex;
  width: 100vw;
  padding: calc(1rem + 1vw);
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  cursor: pointer;
  perspective: 2000px;
  background: none;
  /* border: 10px solid red; */
}
