body {
  width: 100%;
}

.gameContainer {
  width: 100vw;
  flex-direction: row;
  display: flex;
  background: var(--background100);
  color: black;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.memoryGame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  max-height: 100vh;
  width: 100vw;
  padding: calc(3rem + 1vw);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  cursor: pointer;
  perspective: 2000px;
}
