*,
html {
  box-sizing: border-box;
}

.introButtons {
  display: flex;
  flex-direction: column;
}

.containerIntro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
  background: var(--mainColour01);
  z-index: 2;
}
.containerIntro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  background: rgba(270, 270, 270, 1) url("../img/berghain.jpg") no-repeat center
    center;
  background-size: cover;
  z-index: -1;
}
.containerWrapper {
  width: 90vw;
  /* width: 90vw; set to this on mobile */

  text-align: center;
}

.name {
  display: flex;
  flex-direction: column;
}
.buttonMain.playButton {
  margin-top: 1rem;
}
.buttonMain.resetLocals {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5rem;
  background: rgba(270, 270, 270, 0.125);
  transition: var(--transition);
  margin-top: 1rem;
  font-size: 0.5rem;
  color: white;
  text-transform: uppercase;
  padding: calc(0.5rem + 0.15vw) calc(0.75rem + 0.15vw);
  font-size: calc(0.3rem + 0.25vw);
}

.nameInputForm {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-top: 5rem;
}
.nameInputLabel {
  font-size: inherit;
}
.nameInputField {
  padding: 0.5rem 1rem;
  background: rgba(var(--darken), 0.75);
  outline: none;
  border: none;
  width: 60vw;
  text-align: left;
  margin: 1rem auto;
  font-size: inherit;
  border-radius: 3px;
  color: rgba(var(--lighten), 0.75);
  transition: 0.25s background ease-in-out;
  text-align: center;
}
.nameInputField:focus {
  background: rgba(var(--mainColour), 0.5);
  color: rgba(var(--lighten), 1);
  transition: 0.25s background ease-in-out;
}
.nameInputField::placeholder {
  color: var(--mainColour100);
}
/* HEADERS */

.mainHeader {
  animation: 0.4s fadeInDropDown 0.25s ease-in-out forwards;
  text-align: center;
  font-size: calc(3rem + 1vw);
  text-shadow: var(--shadowMedium);
  margin-bottom: 3rem;
  opacity: 0;
}
.introHeader {
  display: flex;
  flex-direction: column;
  font-size: calc(1.25rem + 1vw);
  z-index: -1;
  transform: translateY(40px);
  opacity: 0;
}
.introHeader span {
  font-size: calc(3rem + 1vw);

  animation: 0.8s fadeInDropDown 0s ease-in-out forwards,
    2s pulse 1.5s ease-in-out infinite;
}
.containerWrapper h6 a {
  text-decoration: none;
  color: rgba(var(--mainColour), 1);
  padding: 0.25rem 0.5rem;
  transition: var(--transition);
  border-radius: 5px;
}
.containerWrapper h6 a:hover {
  transition: var(--transition);
  background: rgba(var(--mainColour), 1);
  color: white;
}

@keyframes fadeInDropDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  40% {
    opacity: 1;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (min-width: 767px) {
  .containerWrapper {
    width: 50vw;
  }
  .nameInputField {
    width: 25vw;
    text-align: left;
  }
}
