.optionsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  color: white;
  opacity: 1;
  text-align: center;
  background: rgba(var(--mainColour), 0.5);
  background: rgba(var(--darken), 0.75);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 100;
}
.totalMovesWins {
  font-size: calc(0.7rem + 0.25vw);
}
.totalMovesWins span {
  font-size: calc(0.9rem + 0.3vw);
  color: rgba(var(--mainColour), 1);
}
.playerDetails {
  width: 100vw;
  height: 15vh;
  text-align: center;
  display: flex;
  border-top: 1px solid rgba(var(--mainColour), 1);
  padding: 1.25rem;
  background: rgba(var(--mainColour), 0.15);
}
.playerScores {
  flex: 1;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}
.playerScores button {
  margin: 0.5rem 0 0 auto;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}
.playerScoreDetails {
}
.playerScoreDetails h3 span {
  font-size: calc(1.5rem + 1vw);
  color: rgba(var(--mainColour), 1);
}
.playerScoreDetails h3:nth-child(2) {
  font-size: 1rem;
}

.playerInfo {
  flex: 1;
  text-align: left;
}
.playerInfo h3:nth-child(2),
.playerInfo h3:last-child {
  margin-top: 1rem;
  padding-right: 3rem;
}

/* .timer {
  font-family: "Orbitron";
  text-align: left;
  font-size: 3.5rem;
  width: 50%;
  color: hsla(255, 255%, 255%, 0.7);
  font-weight: bold;
  text-align: center;
  line-height: 12rem;
  z-index: 1;
  text-shadow: var(--shadowSmall);
} */

button {
  cursor: pointer;
}
button:disabled {
  opacity: 0.7;
}

/* .timer.flashRed {
  transform: scale(1);
  animation: 1s flashred ease-in-out infinite;
}
@keyframes flashred {
  0% {
    opacity: 0;
    color: white;
  }
  50% {
    opacity: 1;
    color: red;
    font-size: 7rem;
    transform: scale(1.8);
    text-shadow: var(--shadowBig);
  }
  100% {
    opacity: 0;
    color: white;
  }
}
.timerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.timerWrapper {
  position: relative;
}
.timerNumbers,
.animatedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
} */
