.timerContainer {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding: 0 !important;
}
.timerWrapper {
  position: relative;
}
.timerNumbers,
.animatedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* height: 60px; */
  /* background: red; */
}
.time {
  font-size: 3rem;
  margin-top: 0;
}

.timerNumbers {
  margin: 0 !important;
}

.timer {
  font-family: "Orbitron";
  text-align: left;
  font-size: 3rem;
  width: 50%;
  color: hsla(255, 255%, 255%, 1);
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  z-index: 1;
  text-shadow: var(--shadowSmall);
}

.timer.flashRed {
  transform: scale(1);
  animation: 1s flashred ease-in-out infinite;
}
@keyframes flashred {
  0% {
    opacity: 0;
    color: white;
  }
  50% {
    opacity: 1;
    color: red;
    font-size: 5rem;
    transform: scale(1.25);
    text-shadow: var(--shadowMedium);
  }
  100% {
    opacity: 0;
    color: white;
  }
}
