.winContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--mainColour01);
  width: 100vw;
  height: 100vh;
  animation: 0.5s fadeIn forwards ease-in-out;
  z-index: 100;
}
.winLose {
  font-size: calc(3rem + 1vw) !important;
}
.winLoseMessage {
  font-size: calc(1rem + 1vw);
  line-height: 1.25;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.winWrapper {
}
