html {
  height: -webkit-fill-available;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #e7e7e7;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.015;
}
h3 {
  font-size: 0.85rem;
  line-height: 1.25;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  margin: 0.2em 0;
  line-height: 1.015;
  letter-spacing: 0em;
}
h1 {
  font-size: 3.6rem;
  color: #1db0ff;
}
